ion-content {
  --background: #ffff00 url('../../../assets/img/level.png') no-repeat center center / cover !important;
}

.item-background-color {
  --ion-item-background: transparentize();
}

.ios {
  .hydrated img{
    max-width: 70%;
    border: 1px solid black;
  }
}

.md {
  .hydrated img {
    max-width: 65%;
    border: 1px solid black;
  }
}

ion-col {
  text-align: center;
}
