<ion-app>
  <ion-content fullscreen>
    <ion-grid class="item-background-color">
      <ion-row>
        <ion-col >
          <h1><b>Escolha seu nível</b></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div routerLink="../inicio" color="dark" expand="full" fill="outline"><img src="../../../assets/img/botaoSimples.png"/></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <idiv routerLink="../inicio" color="dark" expand="full" fill="outline"><img src="../../../assets/img/botaoMedio.png"/></idiv>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <idiv routerLink="../inicio" color="dark" expand="full" fill="outline"><img src="../../../assets/img/botaoHard.png"/></idiv>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <idiv routerLink="../inicio" color="dark" expand="full" fill="outline"><img src="../../../assets/img/botaoExpertpng.png"/></idiv>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
