<ion-app>
  <ion-content fullscreen>
    <ion-grid class="item-background-color">
      <ion-row>
        <ion-col style="text-align: center; padding-bottom: 10%">
          <h1><b>Escolha seu nível</b></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center; padding-bottom: 5%">
          <ion-button routerLink="../inicio" color="clear"><img src="../../../assets/img/botaoSimples.png"/></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center; padding-bottom: 5%">
          <ion-button routerLink="../inicio"color="clear"><img src="../../../assets/img/botaoMedio.png"/></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center; padding-bottom: 5%">
          <ion-button routerLink="../inicio" color="clear"><img src="../../../assets/img/botaoHard.png"/></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center; padding-bottom: 5%">
          <ion-button routerLink="../inicio" color="clear"><img src="../../../assets/img/botaoExpertpng.png"/></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
