<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title>Simples</ion-title>
        </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
        <ion-card class="imagem-nivel">
            <img src="../../../assets/img/simples.jpg" />
            <ion-card-header>
                <ion-card-subtitle>Dificudade</ion-card-subtitle>
                <ion-card-title>Simples</ion-card-title>
            </ion-card-header>
            <ion-card-content style="text-align: justify;">
                Bem vindo ao DOC 180 Nível Simples. Nesse nível você terá 365 dias para terminar nosso desafio.
            </ion-card-content>
            <ion-button>
                Começar
            </ion-button>
        </ion-card>
    </ion-content>
</ion-app>